<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>Bootstrap扁平化样式.md</key>
			<dict>
				<key>lastModification</key>
				<real>499332888.57048899</real>
				<key>version</key>
				<dict>
					<key>2cf01787bedf1cc8c6f7411041ce9cc01fed37eeccdbd446e3d0d10288191667</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>blog-to-github.md</key>
			<dict>
				<key>lastModification</key>
				<real>499332888.57048702</real>
				<key>version</key>
				<dict>
					<key>2cf01787bedf1cc8c6f7411041ce9cc01fed37eeccdbd446e3d0d10288191667</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>hexo-cmd.md</key>
			<dict>
				<key>lastModification</key>
				<real>499332888.57048899</real>
				<key>version</key>
				<dict>
					<key>2cf01787bedf1cc8c6f7411041ce9cc01fed37eeccdbd446e3d0d10288191667</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>welcome.md</key>
			<dict>
				<key>lastModification</key>
				<real>499332888.57048798</real>
				<key>version</key>
				<dict>
					<key>2cf01787bedf1cc8c6f7411041ce9cc01fed37eeccdbd446e3d0d10288191667</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>前后端分离开发部署模式.md</key>
			<dict>
				<key>lastModification</key>
				<real>499332888.57048798</real>
				<key>version</key>
				<dict>
					<key>2cf01787bedf1cc8c6f7411041ce9cc01fed37eeccdbd446e3d0d10288191667</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>推荐一个谷歌字体的镜像.md</key>
			<dict>
				<key>lastModification</key>
				<real>499332888.57048702</real>
				<key>version</key>
				<dict>
					<key>2cf01787bedf1cc8c6f7411041ce9cc01fed37eeccdbd446e3d0d10288191667</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>无标题.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>499332894.84188199</real>
				<key>lastModification</key>
				<real>499332894.84188199</real>
				<key>version</key>
				<dict>
					<key>2cf01787bedf1cc8c6f7411041ce9cc01fed37eeccdbd446e3d0d10288191667</key>
					<integer>3</integer>
				</dict>
			</dict>
		</dict>
		<key>userIconName</key>
		<real>499333058.903597</real>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>无标题.md</string>
		</array>
		<array>
			<string>blog-to-github.md</string>
		</array>
		<array>
			<string>推荐一个谷歌字体的镜像.md</string>
		</array>
		<array>
			<string>前后端分离开发部署模式.md</string>
		</array>
		<array>
			<string>welcome.md</string>
		</array>
		<array>
			<string>hexo-cmd.md</string>
		</array>
		<array>
			<string>Bootstrap扁平化样式.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>userIconName</key>
	<string>Computer</string>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>2cf01787bedf1cc8c6f7411041ce9cc01fed37eeccdbd446e3d0d10288191667</key>
			<integer>3</integer>
		</dict>
		<key>userIconName</key>
		<dict>
			<key>2cf01787bedf1cc8c6f7411041ce9cc01fed37eeccdbd446e3d0d10288191667</key>
			<integer>8</integer>
		</dict>
	</dict>
</dict>
</plist>
